.container {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/onibus_wallpaper.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.801); 
    background-size: cover;
}

.loading-container {
    height: 100%;
}

.logo-completa {
    width: 350px;
    height: 350px;
}

#load-iniciar {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

.btn {
    width: 250px;
}

.animate-logo {
    animation: 2s animate-logo ease-in;
}

.btn:hover {
    color: white;
    background: var(--azul-claro);
    cursor: pointer;
}

@keyframes animate-logo {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}