.container {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/fundo_2.jpg);
    background-color: rgba(0, 0, 0, 0.801);
    background-size: cover;
    background-blend-mode: darken;
  }
