.container {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/fundo_2.jpg);
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.945);
  background-size: cover;
  background-blend-mode: darken;
}

span,label {
  color: white;
}

header {
  border: 1px solid rgba(97, 97, 97, 0.623);
  background-color: rgb(37, 37, 37);
  filter: opacity(60%);
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 5px 30px;
}

.box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}
.logo {
  height: 100%;
  width: 100%;
  filter: invert(10%);
}

ion-icon {
  font-size: 25pt;
  color: rgb(218, 218, 218);
}

ion-icon:hover {
  cursor: pointer;
  color: rgb(190, 190, 190);
}

.inicial-user {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicial-user .left, .inicial-user .right {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
}

.inicial-user img {
  width: 80px;
  filter: invert(100%);
}

h1 {
  font-family: var(--font);
  font-size: 25pt;
  color: white;
}

.contain-cards {
  display: flex;
  gap: 30px;
}

.card {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.285);
  filter: opacity(80%);
  padding: 10px;
}

form {
  width: 60%;
  padding: 10px;
  border: 1px solid white;
  background: rgba(31, 30, 30, 0.193);
  border-radius: 5px;
  display: flex;
  gap: 15px;
  
  flex-direction: column;
}

input {
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px;
  background-color: rgba(20, 20, 20, 0.483);
}