.container {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/onibus_wallpaper.jpg);
    background-color: rgba(0, 0, 0, 0.801);
    background-size: cover;
    background-blend-mode: darken;
  }

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 20px;
    background-color:  rgba(255, 255, 255, 0.158);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 999;
}

.card * {
    color: white;
}
.card h1 {
    text-align: center;
}

label {
    font-family: var(--font-marck);
}

input[type="text"],
input[type="password"],
input[type="date"] {
    border-width: 0px 0px 1px 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background: none;
    padding: 5px;
    width: 100%;
    height: 25px;
    margin: 10px 0px;
    outline: none;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-width: 0px 0px 1px 3px;
    
}


img#logo-form {
    width: 100px;
    height: 100px;

}

.marck {
    color: rgb(204, 204, 204);
}

.btn {
    background-color: var(--azul-claro);
    width: 100%;
    margin-top: 20px;
}

.btn:hover {
    background-color: var(--azul-escuro);
    color: white;
    cursor: pointer;
}
#btn_login {
    background-color: var(--azul-claro);
    color: white;
}

#btn_login:hover {
    background-color: var(--azul-escuro);
    cursor: pointer;
}