@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font_text);
}

:root {
    --font_text: "Montserrat", sans-serif;
    --cor001: #2773a7;
    --cor002: #37739b;
    --cor003: #194868;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, var(--cor001), var(--cor002), var(--cor003));
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.log {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: 2s animateLogo ease-in-out;

}

@keyframes animateLogo {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}

.log #logo_completa_img {
    width: 300px;
}

.log #load_img {
    width: 25px;
    filter: invert(100%);
}

.display_none {
    display: none;
}

button {
    font-weight: bolder;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    background: var(--cor003);
    color: white;
}

button:hover {
    cursor: pointer;
    filter: opacity(90%);
    
}

nav.footNav {
    width: 100vw;
    height: 5%;
    padding: 30px 0px;
    background-color: var(--cor002);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    box-shadow: 1px 1px 1px 6px var(--cor002);
    left: 0;
}

.footNav ion-icon {
    color: white;
    font-size: 30px;
    font-weight: bold;
    transition: .5s;

}

.footNav ion-icon:hover {
    transform: translateY(-10px) scale(1.1);
    cursor: pointer;
}

span#wave-animate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    
    background-color: rgb(11, 31, 70);
    border-radius: 0 0 30px 30px;
}

.container .card {
    z-index: 0;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  

}

.card h1 {
    margin: 20px;
}
.card #logo-card {
    width: 80px;
    height: 80px;

}

form {
    width: 80%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr;
    padding: 10px;
    
}

form input {
    padding: 10px 5px;
    outline: none;
    border-radius: 4px;
    margin: 10px 0px;
    border:1px solid rgba(2, 2, 2, 0.562);
    background: none;

}

form input[type="submit"] {
    border: none;
    border-radius: 3px;
    padding: 10px;
    color: white;
    background-color: #194868;
}

form input[type="submit"]:hover {
    background-color: var(--cor002);
    cursor: pointer;
}

form label {
    font-weight: bolder;
}

.marck {
    display: block;
    color: #194868;
}

#warning {
    color: black;
    font-size: 10pt;
    padding: 5px;
}

#warning:hover {
    color: #37739b;
    cursor: pointer;
    
}