
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100vw;
    padding: 10px;
    background-color: #80bddb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    filter: invert(100%);
    padding: 5px;
    width: 90px;
    height: 65px;
}

.logo img {
    width: 100%;
    height: 100%;
}

header a {
    margin: 0px 20px;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 0px 10px 0px;
    color: white;
}

header a:hover {
    background-color: white;
    color: rgba(0, 62, 104, 0.979);
}

/* Main */  

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio .left-bottom, .inicio .right-top {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio .left-bottom .text {
    width: 70%;
}

.inicio .left-bottom img#mtg-title{
    width: 500px;
}
.inicio .right-top img{
    width: 600px;
    height: 450px;
}

/* SOBRE */

.sobre * {
    color: white;
}

.sobre .card {
    width: 80%;
    height: 60%;
    background-color: #80bddb;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre .card #celular-mtg {
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: -40px;
    right: 0;
}

.sobre .card .texto {
    width: 60%;
}

.sobre .card .texto h1 {
    font-size: 30pt;
    margin-bottom: 20px;
}

.sobre .card .texto p {
    font-size: 20pt;
}

/* FOOTER */

footer {
    width: 100vw;
    height: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2e393f;
}

.section-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.section-footer *{ 
    color: white;
}

.section-footer img {
    width: 100px;
    filter: invert(100%);
}

.section-footer button {
    color: white;
    width: 200px;
    border-radius: 10px;
    background: none;
    border: 1px solid white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-footer button ion-icon {
    font-size: 15pt;
    color: white;
    font-weight: bold;
}

.section-footer button:hover {
    background-color: #54a1c7;
    border: 1px solid #54a1c7;
    cursor: pointer;
}

.section-footer hr {
    width: 200px;
}

/* RESPONSIVTY */



@media (max-width:1204px) {
    .inicio {
        margin-top:20%;
        flex-direction: column-reverse;
    }

    .inicio .right-top, .inicio .left-bottom {
        width: 100%;
        height: 50%;
    }

    .inicio img#animate {
        width: 550px;
        height: 450px;
    }

    .inicio .left-bottom .text {
        text-align: center;
        margin-top: 10%;
    }

   

    footer {
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        gap: 100px;
        padding: 20px;
    }
}

@media (max-width:900px) {
    .inicio img#animate {
        width: 450px;
        height: 350px;
    }  

    .inicio .left-bottom img#mtg-title{
        width: 350px;
    }

    .sobre .card {
        width: 80%;
        height: 80%;
    }

    .sobre .card #celular-mtg {
        width: 250px;
        height: 250px;
        position: absolute;
        bottom: -50px;
        right: -30px;
    }
    
    .sobre .card .texto {
        width: 60%;
    }
    
    .sobre .card .texto h1 {
        font-size: 30pt;
        margin-bottom: 20px;
    }
    
    .sobre .card .texto p {
        font-size: 15pt;
    }


}