@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font);
    color: white;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #000;
    background-attachment: fixed;
    background-size: cover;
}

:root {
    --font:"Open Sans", sans-serif;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
    z-index: 999;
    position: fixed;
    background-color: black;
}

#logo-header {
    width: 250px;
}

a {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    margin:0px 5px;
    padding: 5px 20px;
    border-radius: 10px;
}

a:hover {
    background-color: white;
    color:black;
}

#building {
    position: fixed;
    bottom: -5px;
    right: -10px;
    width: 800px;
    height: 400px;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.left .card h1 {
    font-size: 30pt;
    font-weight: bolder;
    margin: 10px 0px;
}

.left .card p {
    font-size: 15pt;
    font-weight: normal;
    margin-bottom: 30px;
}

.left .card button {
    text-transform: uppercase;
    width: 350px;
    border: 1px solid white;
    padding: 8px 20px;
    border-radius: 10px;
    background: none;
}

.left .card button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}